---
import Layout from "../layouts/Layout.astro";
import APIResponseComponent from "../components/react/helpAPI";
---

<Layout title="RT Commands Help">
    <main>
        <APIResponseComponent client:load/>
    </main>
</Layout>