---
import { Image } from 'astro:assets';
import Layout from '../layouts/Layout.astro';
import { Button, Card, Flex, Heading, Text, Center } from "@neodyland/ui";
import { FaTools, FaShieldAlt, FaRegSmileWink } from "react-icons/fa";
import { FaWandMagicSparkles, FaMusic } from "react-icons/fa6";
import { HiMiniSpeakerWave } from "react-icons/hi2";
import { TypewriterEffectSmooth } from "../components/react/type-effect";

import RTIcon from "../images/RTLogo.png";

const Line1 = [
    {
        text: "他にはないような機能を。",
        className: "text-black-20",
    },
];
---

<Layout title="RT Discord">
	<main>
		<div class="relative">
			<div class="relative rounded-full px-3 py-1 text-sm leading-6 text-gray-600 ring-1 ring-gray-900/10 hover:ring-gray-900/20">
				RTはNeodyへ仲間入り！
				{"  "}
				<a
					href={`https://neody.land/news/rt-acquired`}
					class="font-semibold text-[#6ddedf]"
				>
					<span class="absolute inset-0" aria-hidden="true" />
					詳細 <span aria-hidden="true">→</span>
			</a>
			</div>
			<Heading size="8xl" className="relative mt-24 tracking-wide">
				<Center>
					<Image src={RTIcon} alt="/joinと送信して" />
				</Center>
			</Heading>
			<Flex className="flex-col lg:flex-row" space={0}>
				<div class="mt-20 lg:mt-24 lg:w-1/2 lg:pl-16">
					<TypewriterEffectSmooth words={Line1} client:load/>
					<Text
						className="tracking-wider text-night/50"
						size={"lg"}
					>
						便利な機能たくさん備えた高性能bot
					</Text>
					<Flex className="mt-6">
						<Button size="lg" >
							<a href="/docs/user_guide/">導入する</a>
						</Button>
					</Flex>
				</div>
			</Flex>
		</div>
		<div class="mt-20 lg:mt-32">
			<Flex className="w-full flex-col lg:flex-row">
				<Flex className="lg:w-1/2 mx-20" direction="col">
					<Flex direction="row">
						<FaTools fontSize={30} className="ml-5 lg:ml-10" />
						<Text>様々な便利機能を一つに！</Text>
					</Flex>
					<Text>
						役職パネル・投票機能・ようこそメッセージ・レベリング等の機能が一つのbotにすべて備えられてます！
					</Text>
				</Flex>
				<Flex className="lg:w-1/2 mx-20" direction="col">
					<Flex direction="row">
						<FaWandMagicSparkles
							fontSize={30}
							className="ml-5 lg:ml-10"
						/>
						<Text>サーバーを快適に！</Text>
					</Flex>
					<Text>
						翻訳チャンネルや一斉メッセージ削除等のサーバーを快適にしてくれる機能も沢山！
					</Text>
				</Flex>
			</Flex>
			<Flex className="w-full flex-col lg:flex-row">
				<Flex className="lg:w-1/2 mx-20 mt-20" direction="col">
					<Flex direction="row">
						<FaShieldAlt
							fontSize={30}
							className="ml-5 lg:ml-10"
						/>
						<Text>安全なサーバーを！</Text>
					</Flex>
					<Text>
						スパムbot対策のための認証機能や、絵文字・スタンプ・URLをブロックする機能であなたのサーバーを荒らしから守ろう！
					</Text>
				</Flex>
				<Flex className="lg:w-1/2 mx-20 mt-20" direction="col">
					<Flex direction="row">
						<FaMusic fontSize={30} className="ml-5 lg:ml-10" />
						<Text>音楽再生機能</Text>
					</Flex>
					<Text>
						SoundCloudやニコニコ動画からの音楽をVCで再生できます！好きな音楽をプレイリストに全てまとめて使うと更に便利！
					</Text>
				</Flex>
			</Flex>
			<Flex className="w-full flex-col lg:flex-row">
				<Flex className="lg:w-1/2 mx-20 mt-20" direction="col">
					<Flex direction="row">
						<HiMiniSpeakerWave
							fontSize={30}
							className="ml-5 lg:ml-10"
						/>
						<Text>読み上げ機能</Text>
					</Flex>
					<Text>
						様々なボイスでVCにチャンネルに送られたメッセージを読み上げることができます！
						<br />
						様々な効果音も再生してVCを盛り上げよう！
					</Text>
				</Flex>
				<Flex className="lg:w-1/2 mx-20 mt-20" direction="col">
					<Flex direction="row">
						<FaRegSmileWink
							fontSize={30}
							className="ml-5 lg:ml-10"
						/>
						<Text>その他にも！</Text>
					</Flex>
					<Text>
						Minesweeperや天気予報機能等の、他にも色んな面白い機能が備わっています！
					</Text>
				</Flex>
			</Flex>
		</div>
		<Card className="mx-auto mt-48 py-10 text-center md:w-full">
			<Heading size="2xl" className="mb-4">
				さあ、あなたのサーバーにもRTを導入しよう！
			</Heading>
			<Button size="lg" className="mx-auto">
				<a href="/docs/user_guide/">導入</a>
			</Button>
		</Card>

	</main>
</Layout>
