---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import { FaTools, FaShieldAlt, FaRegSmileWink } from "react-icons/fa";
import { FaWandMagicSparkles, FaMusic } from "react-icons/fa6";
import { HiMiniSpeakerWave } from "react-icons/hi2";
import RTIcon from "../images/RTLogo.png";
---

<Layout title="RT Discord Bot">
	<main>
		<div class="relative">
			<div class="relative rounded-full px-3 py-1 text-sm leading-6 text-gray-600 ring-1 ring-gray-900/10 hover:ring-gray-900/20">
				RTはNeodyへ仲間入り！
				{"  "}
				<a
					href={`https://neody.land/news/rt-acquired`}
					class="font-semibold text-[#6ddedf]"
				>
					<span class="absolute inset-0" aria-hidden="true" />
					詳細 <span aria-hidden="true">→</span>
				</a>
			</div>
			<h1 class="text-8xl font-bold relative mt-24 tracking-wide">
				<div class="flex items-center justify-center">
					<Image src={RTIcon} alt="/joinと送信して" />
				</div>
			</h1>
			<div class="flex flex-col lg:flex-row">
				<div class="mt-20 lg:mt-24 lg:w-1/2 lg:pl-16">
					<h1 class="text-4xl font-bold mb-3">他にはないような機能を。</h1>
					<p class="tracking-wider text-night/50 text-lg">
						便利な機能たくさん備えた高性能bot
					</p>
					<div class="flex mt-6">
						<button class="text-lg px-8 py-3 rounded-md text-white btn-neutral btn">
							<a href="/docs/user_guide/">導入する</a>
						</button>
					</div>
				</div>
			</div>
		</div>
		<div class="mt-20 lg:mt-32">
			<div class="flex w-full flex-col space-y-10 lg:space-y-0 lg:flex-row my-3">
				<div class="flex flex-col lg:w-1/2 mx-20 space-y-2">
					<div class="flex flex-row space-x-5 justify-center items-center">
						<FaTools fontSize={30} />
						<p>様々な便利機能を一つに！</p>
					</div>
					<p>
						役職パネル・投票機能・ようこそメッセージ・レベリング等の機能が一つのbotにすべて備えられてます！
					</p>
				</div>
				<div class="flex flex-col lg:w-1/2 mx-20 space-y-2">
					<div class="flex flex-row space-x-5 justify-center items-center">
						<FaWandMagicSparkles
							fontSize={30}
						/>
						<p>サーバーを快適に！</p>
					</div>
					<p>
						翻訳チャンネルや一斉メッセージ削除等のサーバーを快適にしてくれる機能も沢山！
					</p>
				</div>
			</div>
			<div class="flex w-full flex-col space-y-10 lg:space-y-0 lg:flex-row my-3">
				<div class="flex flex-col lg:w-1/2 mx-20 space-y-2">
					<div class="flex flex-row space-x-5 justify-center items-center">
						<FaShieldAlt
							fontSize={30}
						/>
						<p>安全なサーバーを！</p>
					</div>
					<p>
						スパムbot対策のための認証機能や、絵文字・スタンプ・URLをブロックする機能であなたのサーバーを荒らしから守ろう！
					</p>
				</div>
				<div class="flex flex-col lg:w-1/2 mx-20 space-y-2">
					<div class="flex flex-row space-x-5 justify-center items-center">
						<FaMusic fontSize={30} />
						<p>音楽再生機能</p>
					</div>
					<p>
						SoundCloudやニコニコ動画からの音楽をVCで再生できます！好きな音楽をプレイリストに全てまとめて使うと更に便利！
					</p>
				</div>
			</div>
			<div class="flex w-full flex-col space-y-10 lg:space-y-0 lg:flex-row my-3">
				<div class="flex flex-col lg:w-1/2 mx-20 space-y-2">
					<div class="flex flex-row space-x-5 justify-center items-center">
						<HiMiniSpeakerWave
							fontSize={30}
						/>
						<p>読み上げ機能</p>
					</div>
					<p>
						様々なボイスでVCにチャンネルに送られたメッセージを読み上げることができます！
						<br />
						様々な効果音も再生してVCを盛り上げよう！
					</p>
				</div>
				<div class="flex flex-col lg:w-1/2 mx-20 space-y-2">
					<div class="flex flex-row space-x-5 justify-center items-center">
						<FaRegSmileWink
							fontSize={30}
						/>
						<p>その他にも！</p>
					</div>
					<p>
						Minesweeperや天気予報機能等の、他にも色んな面白い機能が備わっています！
					</p>
				</div>
			</div>
		</div>
		<div class="mx-auto mt-48 py-10 text-center md:w-full bg-white rounded-lg shadow">
			<h2 class="text-2xl font-bold mb-4">
				さあ、あなたのサーバーにもRTを導入しよう！
			</h2>
			<button class="btn text-lg px-8 py-3 rounded-md text-white mx-auto btn-neutral">
				<a href="/docs/user_guide/">導入</a>
			</button>
		</div>
	</main>
</Layout>